@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}


body {
  color: white;
  background: black;
}

div {
  font-family: "Roboto Mono", sans-serif;
}
h2 {
  font-family: "Roboto Mono", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shader-web-background-fallback {
  background: url("https://placekitten.com/666/666");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
head {
  height: 100vh;
}
